<div class="section-six">
 	<div class="container-fluid">
 		<div class="row" style="margin-top: 25px;">
 		<div class="col-lg-4">
 			<p class="six-col" style="margin-right: 50px;">Listen something good on Spotify.</p>
 			<div class="vertical"></div>
 		</div>
 		<div class="col-lg-4">
 		<h2 class="title-six"> Okay, That's It!</h2>
 		<p class="sixtitle">BUT LET'S KEEP THIS PARTY GOING VIA EMAIL.</p>
 		<form action="/" method="POST">
    <div class="form-group">
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <button type="submit" name="btn" class="btn"><i class="fas fa-arrow-right"></i></button>
  </div>
   </form>
 		</div>
 		<div class="col-lg-4">
 			<div class="verticall"></div>
 			<p class="six-col">All rights reserved.</p>
 		</div>
 		</div>
 	</div>
 </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="app.js" charset="utf-8"></script>
</body>
</html>