<%- include("partials/header");  -%>
<div class="container-fluid">
<h1>Contact</h1>
<h7>HR-10000 Zagreb</h7>
<br>
<h7>tel: +385 1 *******</h7>
<br>
<h7>fax: +385 1 *******</h7>
<br>
<h7>e-mail: inspirations@design.hr</h7>
</div>

<%- include("partials/footer"); -%>